/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Light grey background */
    color: #333;
    line-height: 1.6;
}

/* Estilos para la navegación */
nav {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f1dcdc;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.social-links a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #f1dcdc;
}

.download-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #f1dcdc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #e6b8b8;
}


.container {
    display: flex; /* Flexbox for two-column layout */
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Left Column */
.left-column {
    width: 35%; /* Adjust width as needed */
    background-color: #f1dcdc; /* Light pink background */
    padding: 20px;
}

.left-column img{
    width: 85%;
    height: auto;
    display: block;
}

#imagen {
    margin-left: auto;
    margin-right: auto;
}

.left-column section {
    margin-bottom: 20px;
}

.left-column h2 {
    background-color: #fff; /* White background for titles */
    color: #333; /* Dark text color */
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Right Column */
.right-column {
    width: 65%; /* Adjust width as needed */
    background-color: #fff; /* White background */
    padding: 20px;
}

.right-column img{
    width: 85%;
    height: auto;
    display: block;
}

.right-column section {
    margin-bottom: 20px;
}

.right-column h2 {
    background-color: #f1dcdc; /* Light pink background for titles */
    color: #333; /* Dark text color */
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Section Content Styles */
section p,
section ul,
section div {
    margin-top: 10px;
}

.skills-list {
    list-style-type: none;
    padding-left: 0;
}

.skills-list li {
    background-color: #fff; /* White background for skills */
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
}

/* Contact List Styles */
.contact-list {
    list-style-type: none;
    padding-left: 0;
}

.contact-list li a {
    color: #333; /* Dark text color for links */
}

